@model BlogPost
@{
    ViewData["Title"] = "Read";
}

<div class="row" >
    <div class="col-12" >
        <h2 class="text-center mb-3" > @Model.Title  </h2>
    </div>
    <div class="col-12 mb-3" >
        <img class="img-fluid" src="@Model.Image"/>
    </div>
    <div class="col-12" >
        <p > @Model.Article  </p>
    </div>
        <div class="col-12" >
        <p > @Model.CreationDate  </p>
    </div>
</div>

